
    body {
        margin: 0 ;
        padding: 0;
        position: relative; 
        width: 100%; 
        background: linear-gradient(#52a577, #57606f); 
    }
    
   
    .colorwhite {
        color: white;
       margin: 60px;
       width: 100px;
       margin-bottom: 100px;
       width: 380px;
       font-size: 40px;
       margin-top: 60px;
       display: flex;
       justify-content: space-between;
    }
    
    
    .fontsize {
        font-size: 20px; 
    }
    
    .parent-container1 {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }
    
    .child-center  {
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
    }
    
    .child-extra {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
    }

    /* To align content  */
    
    .align-divs {
        display: flex; 
        flex-direction: row; 
        justify-content: center; 
        justify-content: space-around;
    }
    /* To align content */
    
    .child-width {
        display: flex; 
        justify-content: center;
        flex-direction: column;  
        width: 50rem;
        padding: 1.5rem; 
        
    }
    
    .child-box {
        width: 284px;
        padding: 10px 10px 20px 10px;
        margin: 35px; 
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: 10px 10px 5px #aaaaaa;
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        /* Part of DOM JS function. Allows div to pop */
        transform: scale(.9); 
        transform-origin: 0 0; 
        transition: transform .6s;
        border-radius: 1em; 
        padding: 1em; 
    }

    .large {
        transform: scale(1.3); 
    }

    /* Part of DOM JS function. Allows div to pop */

    /* testing */
    /* .shelby {
        transform: scale(.9); 
        transform-origin: 0 0; 
        transition: transform .6s;
        border-radius: 1em; 
        padding: 1em; 
    } */
    /* testing */

    .child-box2 {
        width: 103rem;
        padding: 10px 10px 20px 10px;
        margin: 35px; 
        border: 1px solid #BFBFBF;
        background-color: white;
        box-shadow: 10px 10px 5px #aaaaaa;
    }
    

    
    img {
        width: 200px; 
        height: 200px;
        margin: auto 0; 
        padding: 10px;  
        border-radius: 50%; 
    }

    .video {
        margin: 0; 
        padding: 0; 
        width: 100%; 
        position: absolute; 
    }

    .section-container {
        position: relative; 
        width: 100%; 
        height: 100vh;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        overflow: hidden; 
    }

    .section-show {
        z-index: 1; 
    }

    .edit-p {
        width: 80rem; 
    }

    .increase-width {
        width: 50rem; 
    }

    .navbar nav a{
        color: white; 
        margin: 10px; 
        padding: auto 0; 
        text-decoration: none; 
    }

    .navbar2 nav a {
        color: black; 
        margin: 10px; 
        padding: auto 0; 
        text-decoration: none; 
        
    }

    
/* Mobile View  */

/* Meet Our Team Page */

@media (max-width: 500px) {
    
    body {
        width: 100%; 
    }

    .parent-container1 {
        width: 95rem; 
        height: 43rem;
    }
    
    .parent-container1 h1 {
        font-size: 50px; 
    }

    .parent-container1 p {
        font-size: 40px; 
    }

    .navbar2 {
        font-size: 33px; 
    }

    .media-center {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        width: 102rem; 
    }

    /* About Page */

    video {
        width: 100px;
        height: 100%;
        
    }

    .section-container {
        position: relative; 
        width: 200%; 
        height: auto;
        display: flex; 
        align-items: center; 
        justify-content: center; 
        overflow: hidden; 
    }


    .edit-p {
        width: 50rem; 
        margin-bottom: 10rem;  
        font-size: 30px; 
    }

      .section-show {
        width: 130%; 
        height: 100%; 
     } 

     .align-divs {
         width: 50rem;
         display: flex; 
     }

     nav a {
        font-size: 23px; 
     }


}

    

    

   

  
    


